.history-element {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.logo-title {
  width: 100%;
  margin-left: 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.titles {
  margin-left: 2vw;
  display: flex;
  align-items: center;
}
.item-title {
  margin-right: 2vw;
}
.item-url {
  margin-right: 2vw;
}
